:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*Tokyo Night theme colors*/
  --bg: #1a1b26; /* Background color */
  --surface: #24283b; /* Surface color */
  --surface-hover: #292e42; /* Surface hover color */
  --border: #292e42; /* Border color */
  --text: #c0caf5; /* Text color */
  --text-muted: #565f89; /* Muted text color */
  --accent: #7aa2f7; /* Accent color */
  --accent-hover: #6690e0; /* Accent hover color */
  --accent-purple: #bb9af7; /* Accent purple color */
  --accennt-yellow: #e0af68; /* Accent yellow color */
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
}

a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-hover);
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--surface);
  color: var(--text);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
}
button:hover {
  border-color: var(--accent);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
